@using Microsoft.Extensions.Localization
@using NsxLibraryManager.Resources
@inject IStringLocalizer<SharedResource> Localizer

<div class="layout-wrapper" style="display: flex; flex-direction: column; height: 100vh;">
    <RadzenStack AlignItems="AlignItems.Center" class="rz-py-4 rz-py-lg-6" >
        <RadzenImage Path="images/logo.png" style="width: 54px; height: 39px;"></RadzenImage>
        <RadzenText Text="Nsx Library Manager" TextStyle="TextStyle.Subtitle1" class="rz-mb-0" />
    </RadzenStack>
    <div class="menu-container" style="flex: 1; overflow-y: auto;">
        <RadzenPanelMenu DisplayStyle="MenuItemDisplayStyle.IconAndText" Multiple="false">
            <RadzenPanelMenuItem Visible="@_initialConfig" Text="@Localizer["Dashboard"]" Icon="analytics" Path="/dashboard"/>
            <RadzenPanelMenuItem Visible="@_initialConfig" Text="@Localizer["Games"]" Icon="sports_esports">
                <RadzenPanelMenuItem Text="@Localizer["List"]" Icon="view_list" Path="gameList"/>
                <RadzenPanelMenuItem Text="@Localizer["Card"]" Icon="apps" Path="gameGrid"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Visible="@_initialConfig" Text="@Localizer["Library"]" Icon="inventory_2">
                <RadzenPanelMenuItem Text="@Localizer["LibraryTitles"]" Icon="library_books" Path="library"/>
                <RadzenPanelMenuItem Text="@Localizer["MissingUpdates"]" Icon="update" Path="MissingUpdates"/>
                <RadzenPanelMenuItem Text="@Localizer["MissingDlc"]" Icon="deployed_code_history" Path="MissingDlc"/>
                <RadzenPanelMenuItem Text="@Localizer["MissingDlcUpdates"]" Icon="deployed_code_update" Path="MissingDlcUpdates"/>
                <RadzenPanelMenuItem Text="@Localizer["Collections"]" Icon="library_add" Path="collections"/>
                <RadzenPanelMenuItem Text="@Localizer["FtpStatus"]" Icon="publish" Path="FtpStatus"/>
                <RadzenPanelMenuItem Text="@Localizer["TaskStatus"]" Icon="add_to_queue" Path="TaskStatus"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Visible="@_initialConfig" Text="@Localizer["TitleDb"]" Icon="archive" Path="titledb"/>
            <RadzenPanelMenuItem Visible="@_initialConfig" Text="@Localizer["FileOrganizer"]" Icon="engineering">
                <RadzenPanelMenuItem Text="파일명 변경 도구" Icon="move_item">
                    <RadzenPanelMenuItem Text="@Localizer["PackageRenamer"]" Icon="package" Path="PackageRenamer"/>
                    <RadzenPanelMenuItem Text="@Localizer["BundleRenamer"]" Icon="package_2" Path="BundleRenamer"/>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="@Localizer["Library"]" Icon="category">
                    <RadzenPanelMenuItem Text="@Localizer["CollectionRenamer"]" Icon="moved_location" Path="CollectionRenamer" MouseEnter="@(args => ShowTooltip(args, "This renamer will organize on your library files based on your collections.") )"/>
                    <RadzenPanelMenuItem Text="@Localizer["DuplicateTitles"]" Icon="content_copy" Path="DuplicateTitles" MouseEnter="@(args => ShowTooltip(args, "Find duplicate titles in your library.") )"/>
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem Visible="false" Text="Cleaner" Icon="cleaning_services" Path="cleaner"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="settings"/>
        </RadzenPanelMenu>
    </div>
    <RadzenStack AlignItems="AlignItems.Center" class="rz-mt-auto">
        <RadzenText Text="@_version" TextStyle="TextStyle.Caption"/>
    </RadzenStack>
</div>